body {
    font-family: 'Roboto Slab';
    color: #FFFFFF;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

hr {
    border-color: #FFFFFF;
}

.jumbotron {
    position: relative;
    background-color: #4F5F3E;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0;
}

.image-container {
    width: 100%;
    height: 100%;
    background-image: url('../Images/ThrillTheBurgMobile1.png');
    background-position: 20% 50%;
    background-size: 95%;
    background-repeat: no-repeat;
}

.arrow {
    animation: bouncing 1.5s infinite ease-in-out;
    bottom: 20px;
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.row {
    margin: 0;
    padding: 0;
}

.main h1 {
    color: #C2614C;
    font-weight: bold;
}

.main h2 {
    color: #D18A20;
    font-weight: bold;
}

.con1 h1 {
    font-weight: bold;
}

.con1 h4 {
    color: #662d91;
}

#mainContainer {
    padding-top: 15px;
    background-color: #2E2E2E;
}

.con3 {
    background-color: #4F5F3E;
    padding: 20px;
}

.con3 h4 {
    color: #FFFFFF;
}

.btn {
    background-color: #2E2E2E;
    border-color: #2E2E2E;
}

.btn:hover {
    background-color: #D18A20;
    border-color: #D18A20;
}

.form-control {
    margin-bottom: 10px;
}

@keyframes bouncing {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 40px;
    }

    100% {
        bottom: 20px;
    }
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .image-container {
        width: 100%;
        height: 100%;
        background-image: url('../Images/ThrillTheBurgDesktop1.png');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
    }

    #mainContainer {
        padding-left: 10%;
        padding-right: 10%;
    }

    .con1 {
        padding: 0 10%;
    }

    .con2 .row1 {
        padding: 0 10%;
    }

    .con2 p {
        padding: 0 10%;
    }

    .display-5 {
        font-size: 300%;
    }
}

@media screen and (min-width: 992px) {
    .form-control {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {

}