body {
    background-color: white;
}

.jumbotron {
    position: relative;
    background-color: #101010;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.image-container {
    width: 100%;
    height: 100%;
    background-image: url('../Images/ThrillTheBurgDesktop1.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.arrow {
    animation: bouncing 1.5s infinite ease-in-out;
    bottom: 20px;
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

h1 {
    font-size: 500%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 150%;
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

.row {
    margin: 0;
    padding: 0;
}

#container2 {
    background-color: #39b54a;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

@keyframes bouncing {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 40px;
    }

    100% {
        bottom: 20px;
    }
}